<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>summary</title>
</head>
<body>
    <h1 style="font-family: poppins;">analysed review</h1>
    <div style="text-align: center;">
        {% if essay["label"]=="pos" %}
            {{prediction_text}} 
            <img src="static/images/happy.png" width="300" height="300">
        {% elif essay["label"]=="neg" %}
            {{prediction_text}}
            <img src="/static/images/negativee.png" width="300" height="300">
        {% else %}
            {{prediction_text}}
            <img src="static/images/neutral.png" width="300" height="300"> 
        {% endif %}
    </div>
</body>
</html>